{% extends "base.html" %}

{% block title %}FoodLoop – Startseite{% endblock %}

{% block content %}

<center>
  <h1>Direkt vom Feld auf deinen Tisch</h1>

  <p>
    FoodLoop verbindet Bauernhöfe, Hofläden und Hobbygärtner mit Menschen vor Ort –
    frisch, transparent und ohne Zwischenhändler.
  </p>

  <p>
    <a href="/products" class="btn btn-primary">Produkte entdecken</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/producer/signup" class="btn btn-secondary">Produzent werden</a>
  </p>

  <table>
    <tr>
      <td align="center">
        <strong>50+</strong><br>
        Produzenten
      </td>
      <td width="40"></td>
      <td align="center">
        <strong>200+</strong><br>
        Produkte
      </td>
      <td width="40"></td>
      <td align="center">
        <strong>100%</strong><br>
        Regional
      </td>
    </tr>
  </table>
</center>

{% endblock %}
